:root {
    --main-white-color: #ffffff;
}

/* Font face declaration */
@font-face { 
    font-family: 'SofiaPro Black'; 
    src: url("../fonts/Sofia/Sofia_Pro_Black_Az.otf") format("opentype"); font-weight: normal; font-style: normal; 
}
@font-face { 
  font-family: 'SofiaPro Regular'; 
  src: url("../fonts/Sofia/Sofia_Pro_Regular_Az.otf") format("opentype"); font-weight: normal; font-style: normal; 
}

.main-logo {
    width: 210px;
}

.banner-heading {
    font-size: 2.67rem;
    font-weight: 500;
    line-height: 1.1;
}

/* Utility */

.text-sm {
    font-size: 0.89rem;
}

.lspace-2 {
    letter-spacing: 2px;
}

.section-head + p {
    font-size: 1.43rem;
}

.spartan {
    font-family: 'Spartan', sans-serif !important;
}

.the_who-title h2 {
    font-family: "SofiaPro Regular";
    font-weight: 800;
    font-size: 2.65rem;
    line-height: 1.3;
}

.welcome-box {
    width: calc(100% + 15px);
    margin-left: -80px;
    padding: 45px 50px 50px 50px;
    background-color: var(--main-white-color);
    box-shadow: 0 15px 25px rgb(0 0 0 / 6%);
    z-index: 999;
}

.feature-content::before {
    position: absolute;
    top: 7px;
    bottom: -9px;
    left: 0;
    z-index: 0;
    content: " ";
    width: 1px;
    background-color: rgba(151,151,151,0.4);
}

.feature-heading {
    position: relative;
}

.feature-heading span {
    font-family: 'Spartan', sans-serif;
    font-size: 2.5rem;
    color: #ccc;
    z-index: -2;
}

.feature-heading h3 {
    font-family: "SofiaPro Regular";
    font-size: 0.96rem;
    display: inline-block;
}

.feature-content-s2 p {
    font-size: 0.875rem;
}

.feature-content h3 {
    font-family: "SofiaPro Regular";
    font-size: 1.13em;
}

.catchy-phrase h3 {
    font-size: 32px;
    line-height: 1.1;
}

.address-block h4 {
    font-family: "SofiaPro Regular";
    font-size: 17px;
    font-weight: 500;
    vertical-align: middle;
}

.get_intouch {
    letter-spacing: 2px;
}

.get_intouch:hover {
    color: #1a1919 !important;
}

.country-addr-block p {
    font-size: 0.87rem;
    letter-spacing: 2px;
}

.country-icon {
    width: 24px;
    height: 24px;
}

.social-icons-block a {
    color: #ffffff;
    text-decoration: none;
}

.footer-cr .wgs-content p {
    font-family: "SofiaPro Regular";
    font-size: 0.78rem;
    display: inline-block;
}

.footer-cr .wgs-content img {
    width: 18px;
    display: inline-block;
}

.tc-red {
    color: #d60c11;
}

.footer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile */
@media only screen and (max-width: 849px) { 
    
    .welcome-box {
        width: 100%;
        margin-left: 0;
        padding: 45px 25px 50px;
        background-color: var(--main-white-color);
        box-shadow: 0 15px 25px rgb(0 0 0 / 6%);
    }

    .reach-us {
        margin-top: 2.5rem !important;
        padding-left: 1rem !important;
    }

    .catchy-phrase h3 {
        font-family: "SofiaPro Black";
        font-size: 24px;
        line-height: 1.1;
    }
    .address-block h4 {
        font-family: "SofiaPro Regular";
        font-size: 0.97rem;
        font-weight: 500;
        vertical-align: middle;
    }

    .cta-sec h3, .cta-sec h6 {
        line-height: 1.6;
    }

    .cta-sec h3 {
        font-size: 1.36rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .cta-sec > .cta-sec-btn {
        margin-top: 15px;
    }
}